#artPage {
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    overflow-x: auto;
    box-sizing: border-box;
}

#artPage img {
    height: 14rem;
    width: auto;
    transition: 0.4s;
    cursor: pointer;
}

#artPage img:hover {
    transform: scale(1.1);
}

#lightboxContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    cursor: zoom-out;
}

#lightboxContainer img {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
}
