#characterSheet {
    display: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}
#characterSheet > div {
    padding: .4rem;
}

#characterSheet hr{
    margin: .2rem 0;
}

.title {
    font-size: 1.2rem;
    margin-bottom: .4rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#abilitiesGrid, #savesGrid, #skillsGrid, #combatGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.5rem;
}

#equipmentList, #featsList, #notesList {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

#basicInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .4rem;
}

#basicInfo > div {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
}

#basicInfo div div {
    font-size: 1rem;
}
