#characterSheet {
    width: 60rem;
    margin: 0 auto;
    padding: .4rem;
    box-sizing: border-box;
    border: 0.12rem solid black;
    border-radius: 0.62rem;
    background: whitesmoke;
}

#basicInfo {
    display: grid;
    grid-template-columns: .8fr 1fr 1fr 1fr; 
    grid-template-rows: auto auto;
}

#biCharName {
    grid-column: 1 / 2;  
    grid-row: 1 / 3;     
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#biClsLvl {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#biBckg {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#biPlayName {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#biRace {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#biAlign {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#biExp {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#basicInfo div {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: .5rem;
}

#basicInfo div div {
    font-size: 1.12rem;
    font-weight: bold;
    margin: 0;
    width: 100%;

}

#basicInfo div hr {
    border: none;
    border-top: 0.06rem solid black;
    margin: 0.25rem 0;
    width: 100%;
}

#biClsLvl {
    position: relative;
}

#biClsLvl .dropdownList {
    display: none;
    position: absolute;
    top: 1.4rem;
    left: 0;
    z-index: 9999;
    background-color: whitesmoke;
}

#biClsLvl:hover .dropdownList {
    border-style: solid;
    border-color: grey;   
    border-width: 0rem .12rem .12rem .12rem;
    display: block;
}

#biRace {
    position: relative;
}

#biRace .dropdownList {
    display: none;
    position: absolute;
    top: 1.4rem;
    left: 0;
    z-index: 9999;
    background-color: whitesmoke;
}

#biRace:hover .dropdownList {
    border-style: solid;
    border-color: grey;   
    border-width: 0rem .12rem .12rem .12rem;
    display: block;

}