#characterSheet {
    width: 60rem;
    margin: 0 auto;
    padding: .4rem;
    box-sizing: border-box;
    border: 0.12rem solid black;
    border-radius: 0.62rem;
    background: whitesmoke;
}

#basicInfo {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr; 
    grid-template-rows: auto auto;
    gap: .4rem;
}

#biCharName {
    grid-column: 1 / 2;  
    grid-row: 1 / 3;     
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#biClsLvl {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#biBckg {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#biPlayName {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#biRace {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#biAlign {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#biExp {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#basicInfo div {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#basicInfo div span {
    font-size: 1.12rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

#basicInfo div hr {
    border: none;
    border-top: 0.06rem solid black;
    margin: 0.25rem 0;
    width: 100%;
}
