#characterSheet {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

#characterSheet hr{
    margin: .2rem 0;
}

.title {
    font-size: 1.2rem;
    margin: 0.5rem 0 0.2rem 0;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.25);
    background-color: #fdfdfd;
}

#abilitiesGrid, #savesGrid, #skillsGrid, #combatGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.25);
    background-color: #fdfdfd;
}

#equipmentList, #featsList, #notesList {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.25);
    background-color: #fdfdfd;
}

#abilityScores div, #savingThrows div, #skills div, #combat div, 
#equipment div, #feats div, #notes div {
    padding: 0.3rem 0.5rem;
    background-color: rgba(200,200,200,0.1);
    border-radius: 0.4rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

#basicInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

#basicInfo > div {
    flex: 1 1 15rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.25);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

#basicInfo div div {
    font-size: 1rem;
    font-weight: bold;
}
