#notesPage{
    width: 100%;
    height: 16rem;
    display: none;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
    box-sizing: border-box;
    
}

#notesPage textarea {
    flex: 1;
    width: 100%;
    resize: vertical;
    font-family: monospace;
    white-space: pre;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    background-color: #fefefe;
    overflow: auto;
}

#notesPage button {
    align-self: flex-end;
    margin-top: 0.5rem;
}
