#differentPages {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    gap: 1rem;
    box-sizing: border-box;
}   
#sideBarComp{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

#menuToggleBtn {
    justify-self:end;
    align-self: flex-end;
    display: block;
    max-height: fit-content;
    z-index: 2;
    transition: .4s;
}
#buttonSidebar {
    height: 0;
    width: 0;
    position: relative;
    z-index: 5;
    overflow-x: hidden;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
#buttonSidebar button {
    min-width: 100%;
}
#currentPage{
    height: fit-content;
    width: 100%;
    border-radius: .6rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.25);

}

