@import url("diceStyle.css");
@import url("spellStyle.css");
@import url("slideMenuStyle.css");
@import url("characterStyle.css");
@import url("combatStyle.css");

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 80%;
    justify-self: center;
    box-sizing: border-box;
    overflow-y: scroll;
}
hr {
    border: none;
    border-top: .1rem solid #ccc;
    width: 100%;
    margin: .5rem 0;
}
#currentPage{
    overflow-x: auto;
}

